---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { formatDateToYYYYMMDD } from "@/utils/date-utils";

interface Props {
	class?: string;
	entry: CollectionEntry<"posts">;
	title: string;
	url: string;
	published: Date;
	image: string;
	description: string;
	style: string;
}
const { entry, title, url, published, image, description, style } = Astro.props;
const className = Astro.props.class;

const hasCover = image !== undefined && image !== null && image !== "";

const { remarkPluginFrontmatter } = await render(entry);
---


<div
  class:list={[
    "card-base post-card flex flex-col md:flex-row w-full min-h-24 h-auto rounded-[var(--radius-large)] overflow-hidden relative",
    className,
  ]}
  style={style}
>
  <div
    class:list={[
      "pl-6 md:pl-9 pt-2 md:pt-6 pb-2 md:pb-6 relative flex flex-col flex-1",
      {
        "order-2 md:order-1 pr-6 md:pr-4": hasCover,
        "pr-6 md:pr-9": !hasCover,
      },
    ]}
  >


    <div class="flex-1 flex flex-col">
      <a
        href={url}
        class="transition group w-full block font-bold mb-1 text-lg md:text-xl text-[#394E6A] bg-clip-text bg-gradient-to-r from-[var(--primary)] to-[var(--secondary)] hover:text-transparent post-card-title"
      >
        {title}
      </a>

      <!-- description -->
      <div
        class:list={[
          "transition text-sm md:text-sm text-base-content/70 pr-4 description",
          { "line-clamp-2 md:line-clamp-1": !description },
        ]}
      >
        {description || remarkPluginFrontmatter.excerpt}
      </div>

      <!-- metadata - always at bottom -->
      <div class="mt-auto flex justify-between items-center text-sm md:text-xs text-base-content/70 pt-3">
        <div>
          <span>{formatDateToYYYYMMDD(published)}</span>
        </div>
        
        <div>
          <span>{remarkPluginFrontmatter.words} 字 · {remarkPluginFrontmatter.minutes} 分钟</span>
        </div>
      </div>
    </div>


  </div>

  {
    hasCover && (
      <a
        href={url}
        aria-label={title}
        class:list={[
          "group",
          "w-full md:w-2/5 lg:w-2/5 aspect-video overflow-hidden order-1 md:order-2 rounded-tl-[var(--radius-large)] rounded-tr-[var(--radius-large)] md:rounded-tl-none md:rounded-tr-[var(--radius-large)] md:rounded-r-[var(--radius-large)]",
        ]}
      >
        <img
          src={image}
          alt="Cover Image of the Post"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105 rounded-tl-[var(--radius-large)] rounded-tr-[var(--radius-large)] md:rounded-tl-none md:rounded-tr-[var(--radius-large)] md:rounded-r-[var(--radius-large)]"
        />
      </a>
    )
  }


</div>


